<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Detail</title>
</head>
<body>
    <h1>Staff Detail</h1>

    <ul>    
        <li>Name: {{ employee.name }}</li>
        <li>Age: {{ employee.age }}</li>
        <li>Role: {{ employee.role }}</li>
        <li>ID: {{ employee.employee_id }}</li>
        <li>Password: {{ employee.password }}</li>
        
    </ul>
</body>
</html>