<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>
<body>
    <h1>Students List</h1>
    {% for student in students_list %}
    <ul>
        <li><a href="{% url 'school:student_detail' student.school_id %}"> {{ student.name }} </a></li>
        <!-- <li> {{ student.name }} </li> -->
    </ul>
    {% endfor %}
</body>
</html>